#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.who-i-am {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.tabs {
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 1rem;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5rem;
}

.tab {
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
  transition: background-color 0.25s, color 0.25s;
}

.tab:hover {
  color: rgb(156, 156, 156);
}



